# Путь к основной конфигурации
AIRFOIL_CONFIG_PATH=configs/config.yaml

# Значения, зависящие от среды запуска
AIRFOIL_MODEL_PATH=models/model.joblib
AIRFOIL_HOST=0.0.0.0
AIRFOIL_PORT=8000

# Адрес системы учёта экспериментов
MLFLOW_TRACKING_URI=http://127.0.0.1:5000